body {
    margin: 0;
}

#game {
    position: relative;
    width: 608px;
    height: 672px;
    margin: auto;
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(19, 32px);
    grid-template-rows: repeat(21, 32px);
}

.wall {
    background: url(./assets/images/wall.png);
    width: 32px;
    height: 32px;
}

.pacman {
    background: url(./assets/images/pacman_32px/pacman-1.png);
    width: 32px;
    height: 32px;    
}

.pellet {
    background: url(./assets/images/pellet/pellet_32px.png);
    width: 32px;
    height: 32px;  
     
}

.powerpellet {
    background: url(./assets/images/pellet/power-pellet.png);
    width: 32px;
    height: 32px;
}

.blinkyghost {
    background: url(./assets/images/ghosts/ghost-blinky-down.png);
    width: 32px;
    height: 32px;
}

.pinkyghost {
    background: url(./assets/images/ghosts/ghost-pinky-down.png);
    width: 32px;
    height: 32px;
}

.inkyghost {
    background: url(./assets/images/ghosts/ghost-inky-down.png);
    width: 32px;
    height: 32px;
}

.clydeghost {
    background: url(./assets/images/ghosts/ghost-clyde-down.png);
    width: 32px;
    height: 32px;
}


.entity {
    /*
     * Using absolute positioning, we can position our entities
     * within our game using the CSS properties `left` (x) and `top` (y).
     */
    position: absolute;
}
