body {
  background-color: rgb(104, 104, 212);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  border: solid black;
}

.grid div {
  width: 20px;
  height: 20px;
}

.pac-dot {
  background-image: url(/assets/images/pellet/pellet_32px.png);
  background-repeat: no-repeat;
  /* width: 10px;
  height: 10px; */
}

.wall {
  background-color: rgb(0, 0, 0);
}

.power-pellet {
  background-image: url(/assets/images/pellet/power-pellet.png);
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}

.blinky {
  background-image: url(/assets/images/ghosts/ghost-blinky-down.png);
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}
.pinky {
  background-image: url(/assets/images/ghosts/ghost-inky-up.png);
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}
.inky {
  background-image: url(/assets/images/ghosts/ghost-inky-up.png);
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}
.clyde {
  background-image: url(/assets/images/ghosts/ghost-clyde-up.png);
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}

.scared-ghost {
  background-color: aquamarine;
  border: 0px;
}

.pac-man {
  background-image: url(/assets/images/pacman/pacman-2.png);
  background-repeat: no-repeat;
  /* width: 10px;
  height: 10px; */
}
